<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <profiles>
    <profile>
      <id>snapcart</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapcart-maven-repository-releases</id>
          <name>Snapcart Releases Maven Repository</name>
          <releases>
            <enabled>true</enabled>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>git:releases://git@github.com:snapcart/core-maven-repository.git</url>
        </repository>
        <repository>
          <id>snapcart-maven-repository-snapshots</id>
          <name>Snapcart Snapshots Maven Repository</name>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
          <url>git:snapshots://git@github.com:snapcart/core-maven-repository.git</url>
        </repository>
        </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>snapcart</activeProfile>
  </activeProfiles>

</settings>
